.ViewLog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Logs{
    
    
    background-color: aqua;
    width:700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

.Fish_report{
    color:red;
    display: flex;
    flex-direction: column;
}