.Popup{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    
    position:fixed;
    width: 700px;
    height: 700px;
    max-height: 700px;
    max-width: 700px;
    background-color: #fff;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    
}

.popup-inner > *:not(.Title,.submit)
{
    display:flex;
    flex-direction: column;
    /* margin-left: 20px; */
    justify-self: center;
    align-items: center;
    margin-left:15px;
}

.Title{
    grid-row-start: 1;
    grid-column-start:2;
    align-self: center;
    justify-self: center;
}

.submit{
    grid-area: 11/2;
    justify-self: center;
}

.Fish_Species{
    grid-area:2/2;
}

.Fish_image{
    grid-area:3/2;
}

.Fish_Released{
    grid-area:4/2;
}

.Fish_Released > label{
    margin-bottom: 10px;
}

.Fish_Released > button{
    width: 110px;
  
}

.Fish_Released_Buttons{
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

.Fish_Method{
    grid-area:5/2;
}

.weight{
    grid-area:6/2;
   
}

.Length{
    grid-area: 7/2;
    
}

.Equipment{
    grid-area: 8/2;
}

.Date{
    grid-area:9/2;
}

.Weather{
    grid-area:10/2;
}

.Close{
    position: absolute;
    color: white;
    top:5px;
    right:10px;
    border-radius: 12px;
    background-color: blue;
}

.Close :hover{
    background-color: purple;
}

.normal{
    background-image: linear-gradient(-180deg, grey 0%, grey 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 40%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-image: linear-gradient(-180deg, rgb(29, 201, 161)) 0%, rgb(10, 233, 62) 100%;
}

.Harvested{
    
    background-image: linear-gradient(-180deg, red 0%, red 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 40%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-image: linear-gradient(-180deg, rgb(201, 35, 29) 0%, rgb(233, 10, 10) 100%);
  
}
@media (min-width: 768px) {
.Released{
  padding: 1rem 2rem;
}
}

.Released{
    
        background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
        border-radius: .5rem;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-size: 16px;
        justify-content: center;
        padding: 1rem 1.75rem;
        text-decoration: none;
        width: 40%;
        border: 0;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
      
}
@media (min-width: 768px) {
    .Released{
      padding: 1rem 2rem;
    }
}
